/* Variáveis de estilo */
:root {
    --primary-color: #50b6a6;
    --secondary-color: #f4f4f4;
    --accent-color: #96ccba;
    --text-color: #ffffff;
    --background-color: #ffffff;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
}

header {
    background-color: var(--primary-color);
    color: #eee8e5;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

.hero {

    background-color: var(--accent-color);
    color: white;
    padding: 50px 20px;
    text-align: center;

}

.texto1 {font-size: 20px;}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;
}

.info-block {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.info-item {
    width: 45%;
    background-color: var(--background-color);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-item {
    background-color: var(--background-color);
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.product-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.donate-options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.donate-section {
    background-color: var(--background-color);
    padding: 20px;
    margin: 10px;
    width: 45%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.donate-list {
    margin-top: 20px;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px;
}

.logistics-info {       margin-top: 20px;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    

}
